.nav {
    display: flex;
    align-items: center;
    background: #FAFBFC;
    box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
    height: 4em;
    font-family: 'Roboto',
        sans-serif;
    color: #091E42;
    border: 1px solid #E6E6E6
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav ul .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5%;
    border-right: 1px solid #E6E6E6;
}

.nav ul .logo {
    object-fit: contain;
    height: 2.5em;
    width: 2.5em;
}

.nav ul .data {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    padding: 0 2%;
    font-weight: 500;
}

.cogContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    background-color: white;
    border-radius: 25%;
}

.cog {
    color: #BBBDC5;
    font-size: 1.8em;
}